body {}

.row {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

button {
    width: 300px;
    height: 50px;
    font-size: 30px;
    background-color: orange;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: green;
}

section {
    margin-top: 60px;
}

.map {
    border: 2px solid orange;
    border-radius: 10px;
}

.chat-box {
    border: 2px solid black;
    border-radius: 10px;
}

section img {
    width: 316px;
    height: 316px;
    transition: width, height;
    transition-duration: 0.5s;
}

section .row {
    margin-top: 30px;
}

section img:hover {
    width: 330px;
    height: 330px;
}